---
Language: Cpp
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 2
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: false
